{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<section class="d-flex">
    <img src={{asset('images/11.png')}}></img>
    <div class="bg-danger">
        <img src={{asset('images/10.png')}}></img>
    </div>
    <div>
        <h1>Plongez dans une aventure collective sans élimination</h1>
    </div>
</section>
<section>
<h1>Présentation du jeu</h1>
<p>ICO est un jeu de stratégie et de déduction sociale qui promet des parties riches en rebondissements et en interactions. Chaque joueur joue un rôle actif, et les mécanismes permettent des alliances et des retournements de situation jusqu'à la dernière seconde !</p>
<p>Caractéristiques du jeu :</p>
<ul>
<li>Joueurs : 4 à 10</li>
<li>Durée moyenne : 30 à 45 minutes</li>
<li>Âge recommandé : 12 ans et plus</li>
<li>Type de jeu : Stratégie & Déduction</li>
</ul>
</section>
<section>
<h1>Comment jouer ?</h1>
<p>Étapes clés du jeu :</p>
<ol>
<li>Mise en place : Chaque joueur reçoit une carte rôle secrète.</li>
<li>Déroulement :  Les joueurs discutent, débattent et utilisent leurs cartes actions pour influencer le cours de la partie.</li>
<li>Objectif : Coopérer, tromper et survivre jusqu'à la fin sans être éliminé.</li>
<li>Fin de partie : Une phase finale où tous les joueurs votent pour tenter de démasquer les imposteurs.</li>
</ol>
</section>
<section>
<h1>Évènements</h1>
<div>
<p>Soirée ICO! adultes</p>
<p>dans nos bars partenaires</p>
</div>
<div>
<p>Vidéo de présentation</p>
<p>par l'équipe ICO!</p>
</div>
<div>
<p>Atelier découverte</p>
<p>Fête de lancement</p>
</div>
</section>
<section>
<a href="">Acheter notre jeu -></a>
</section>
<section>
        <h1>Les créateurs</h1>
</section>
<footer>
    <img src={{asset('images/5.png')}}></img>
</footer>
{% endblock %}
