{% extends 'base.html.twig' %}

{% block title %}Produit!{% endblock %}
{% block body %}
<!-- templates/products/index.html.twig -->
<h1>ICO</h1>
<button onclick="checkout()">Acheter</button>
{% endblock %}
{% block javascripts %}
<script src="https://js.stripe.com/v3/"></script>

<script>
    var stripe = Stripe("{{ stripePublicKey }}");

    // Exemple de fonction pour créer la session de paiement (à appeler au clic sur un bouton)
    function checkout() {
        fetch('/produit-achat', {
            method: 'POST',
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (sessionId) {
            stripe.redirectToCheckout({ sessionId: sessionId.id })
            .then(function (result) {
                if (result.error) {
                    // Gérer les erreurs de paiement
                    alert(result.error.message);
                }
            });
        });
    }
</script>
{% endblock %}


