{% extends 'base.html.twig' %}

{% block title %}Produit!{% endblock %}

{% block body %}
<h1>Acheter ICO</h1>
<button id="acheter-button">Acheter</button>
{% endblock %}

{% block javascripts %}

{% endblock %}

