{% extends 'base.html.twig' %}

{% block title %}Hello RulesController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Les Règles Du Jeu</h1>
    <p>Quelque part en pleine Mer, un groupe de Marins est chargé de transporter un Trésor, mais des pi-
rates ont peut-être infiltré leur équipage afin de le voler.
Entre tempête, mal de mer, sirènes, trahisons et autres dangers, le trésor arrivera-t-il à bon port ?
</p>
    <div class="row justify-content-center">
        <div class="col-md-6 my-3">
            <div class="card">
                <div class="card-body">
        {% for rule in rules %
        }
                    <h2 class="card-title">{{ rule.name }} :</h2>
                    <p class="card-text">{{ rule.description }}</p>
        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
