<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for orderItem in field.value %}
            <tr>
                <td>{{ orderItem.product.name }}</td>
                <td>{{ orderItem.quantity }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>