{% extends 'base.html.twig' %}

{% block title %}Liste des cartes{% endblock %}

{% block body %}
    <h1>Liste des cartes</h1>
    <ul>
        {% for card in cards %}
            <li>
                <a href="{{ path('cards_show', {id: card.id}) }}">{{ card.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}